/*ROBOTO >>> font-family:'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2? family = Roboto: ital, wght @ 0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1,900 & display = swap');
/*Montserrat >>> font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2? familia = Montserrat: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1,900 & display = swap');

a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    color: #25282c;
    font-weight:normal;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.header, .nav, .main, .section .aside, .footer, .body{
    border: 1px solid rgb(150, 150, 150);
    background: #ffffff;
}
body{
    font-family: 'Montserrat', sans-serif;

}
.header{
    background-color:  #FAAA8D;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 0.5rem #50B2C0 solid;
    border-bottom: 0.5rem #50B2C0 solid;
    /*height: 5.0em; /*(120px aprox)*/
}
.header__divTitulo__h1{
    font-size: 2rem;
    letter-spacing: 0.8rem;
    text-shadow: #feefdd 3px 3px 7px;
}
.header__divInteractivo__buscador,
.header__divInteractivo__a__img {display: block;}

.header__divInteractivo__buscador{
    width: 13rem;
    height: 24px;
    border: 1px solid;
    border-color: rgb(150, 150, 150);
    box-shadow: #feefdd 1px 1px 5px 1px;
    border-radius: 5px;
}
.body--carousel-inner{
    height: 500px;
}
.main {
    padding-top: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1__divTitulo__h{
    text-align: center;
}
.section1__divContent{
    padding: 20px 0; 
    display: flex;
}
.section1__divContent__row__col{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.section1__divContent__row__col__card{
    width: 20.5rem; 
    text-align: center;
    align-content: center;
    align-items: center;
    
}
.section1__divContent__row__col__card__img{
    /*border: 1px solid rgb(200, 200, 200);*/
    width: 100%;
    /*padding-top: 1rem;*/
}
.section1__divContent__row__col__card__p{
    color:red;
}

.aside{
    padding-top: 2rem;
}
.aside_divPublicidad{
    width: 100%;
    padding: 2rem 0;
}















.footer{
    position: relative;
    background: #27272b;
    /*height: 5.0em; /*(120px aprox)*/
}

.footer__fila1{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 1rem;
}
.footer__divMenu{
    display: flex;
    gap: 2rem;
    /*align-items: center;  */
}
.footer__divMenu__ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.footer__divMenu__ul__li{
    display: flex;
}

.footer__divMenu__ul__a {
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
}
.footer__divSocial{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
.footer__divSocial__divSiguenos{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    color:  #FB6900 ;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 600;
}
.footer__divSocial__divSiguenos__p{
    margin: 0.1rem;
}
.footer__divSocial__divIconos{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
.footer__fila2{
    display: flex;
    justify-content: center;
    margin: 3rem 1rem 0 1rem; /*se omite margin bootom ya que el elemento <p> trae por default 1rem abajo */
}
.footer__divCopyrigt__p {
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
}

/********************************************/
/*       R  E  S  P  O  N  S  I  V  E       */
/********************************************/


/******    (1)     DISPOSITIVO XS ETRA-SMALL    *********/
@media only screen and (min-width: 200px) and (max-width: 575px){
    body{background: blueviolet;}
    .header__divTitulo__h1{
        font-size: 1rem;
    }
    .header__divInteractivo__buscador {
        width: 60%;
    }
    .body--carousel-inner{
        height: 150px;
    }
    
    .footer__fila1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__divMenu__ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .footer__divMenu__ul__a, .footer__divSocial__divSiguenos__p{
        font-size: 0.9rem;
    }
}

/*******    (2)  DISPOSITIVO SM SMALL*********/
@media only screen and (min-width: 576px) and (max-width: 767px){
    body{background: tomato;}
    .header__divTitulo__h1{
        font-size: 1.5rem;
    }
    .body--carousel-inner{
        height: 220px;
    }
    .footer__divSocial {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        justify-items: center;
    }
    .footer__divMenu__ul__a, .footer__divCopyrigt__p {
        color: blanchedalmond;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        letter-spacing: 1px;
        font-weight: normal;
    }
    .footer__divMenu__ul{
        padding: 0;
    }
}


/********     (3)   DISPOSITIVO MD MEDIANO      *********/
@media only screen and (min-width: 768px) and (max-width: 991px){ 
    body {
        background: green;
    }
    .footer__divMenu__ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__divMenu__ul__a, .footer__divSocial__divSiguenos__p {
        font-size: 0.9rem;
    }
    .body--carousel-inner{
        height: 300px;
    }
}

/*******     (4)   DISPOSITIVO LG LARGE      ********/
@media only screen and (min-width: 992px) and (max-width: 1199px){ 
    body {
        background: rgb(200, 200, 200);
    }
}

/*******    (5)   DISPOSITIVO XL EXTRA-LARGE      ********/
@media only screen and (min-width: 992px) and (max-width: 1199px){ 
    body {
        background: #ffffff;
    }
}


/********  (6)   DISPOSITIVO XXL EXTRA/EXTRA-LARGE     *******/
@media only screen and (min-width: 1200px) and (max-width: 1400px){ 
    body {
        background: #ffffff;
    }
}