@import "../../6.UTILIDADES/variables";

.noso__main{
    /*
    background: linear-gradient(90deg, rgba(254,239,221,1) 0%, rgba(255,249,241,1) 20%, 
    rgba(255,255,255,1) 50%, rgba(255,249,241,1) 80%, rgba(254,239,221,1) 100%);
    */
    
    &__divLayout{
        width: 70%;
        
        &__row__col{
        width: 100%;
        }
    }
}


