@import "../../6.UTILIDADES/mixins/param.display-flex";
@import "../../6.UTILIDADES/mixins/font/param.personalized-font";
@import "../../6.UTILIDADES/variables";

.noso__section1{
    /* @include display-flex ($desplegar, $flexDireccion, $wrap, $justifyContent, $alignItem, $gap)  */
    @include display-flex (flex, column, null, center, flex-start, null);

    &__divTitulo{
        width: 100%;
        &__h{
            @include letra-personalizada(left, 1.8rem, $lavandaLetter, 4.09px, none , $tipografia-h, capitalize, 500);
        }
    }

    &__article{
        /* @include display-flex ($desplegar, $flexDireccion, $wrap, $justifyContent, $alignItem, $gap)  */
        @include display-flex (flex, column, null, center, flex-start, 1rem);
        text-align: center;

        background: #FFFFFF;
        width: 60%;
        padding: 1.5rem;
        margin: 2rem 0;
        border-radius: 20px;
        box-shadow: #FAAA8D 1px 1px 15px 1px inset;

        &__h{
            /*($alineación, $tamano, $color, $espaciado, $decoracion, $familia, $mayuscula, $negrita)*/
            @include letra-personalizada(justify, 1.2rem, $marronBorder, 2px, none , $tipografia-gral, uppercase, 500);
        }
    
        &__p{
            @include letra-personalizada(justify, 0.9rem, $grisLetter, 0.1rem, none , $tipografia-gral, null, 400);   
        }
    }
    &__article2{ /*subclase del artículo #2*/
        align-self: flex-end;
    } 
}

.noso__section2{
    /* @include display-flex ($desplegar, $flexDireccion, $wrap, $justifyContent, $alignItem, $gap)  */
    @include display-flex (flex, column, null, center, center, null);
    padding-bottom: 4rem;

    &__divTitulo{
        width: 100%;
    
        &__h3{
            @include letra-personalizada(left, 1.3rem, $lavandaLetter, 3.09px, none , $tipografia-roboto, uppercase, 700);

        }  
    }
    &__span {
        align-self: flex-start;
        width: 100%;
        &__p {
            @include letra-personalizada(left, 0.9rem, $marronFooter, 0.1rem, none , $tipografia-gral, null, 400);
        }
    }

    &__divCuerpo__iframe {
        width: 600px;
        height: 350px;
    }
}



