@import "../../6.UTILIDADES/mixins/param.display-flex";
@import "../../6.UTILIDADES/mixins/font/param.personalized-font";
@import "../../6.UTILIDADES/variables";

.noso__section1{
    /* @include display-flex ($desplegar, $flexDireccion, $wrap, $justifyContent, $alignItem, $gap)  */
    @include display-flex (flex, column, null, center, flex-start, null);

    &__divTitulo{
        width: 100%;
        &__h{
            @include letra-personalizada(left, 1.25rem, $marronLetter, 3px, none , $tipografia-gral, uppercase, 400);
            text-shadow: black, 1px, 1px, 5px;
        }
    }

    &__article{
        /* @include display-flex ($desplegar, $flexDireccion, $wrap, $justifyContent, $alignItem, $gap)  */
        @include display-flex (flex, column, null, center, flex-start, 1rem);
        text-align: center;

        background: #FFFFFF;
        width: 60%;
        padding: 1.5rem;
        margin: 2rem 0;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.8) 1px 1px 15px 1px;

        &__h{
            /*($alineación, $tamano, $color, $espaciado, $decoracion, $familia, $mayuscula, $negrita)*/
            @include letra-personalizada(left, 1rem, $marronBorder, 3px, none , $tipografia-gral, uppercase, 500);
        }
    
        &__p{
            @include letra-personalizada(justify, 0.9rem, $grisLetter, 0.1rem, none , $tipografia-gral, null, 400);   
        }
    }

    &__article2{ /*subclase del artículo #2*/
        align-self: flex-end;
    } 
}

.noso__section2{
    /* @include display-flex ($desplegar, $flexDireccion, $wrap, $justifyContent, $alignItem, $gap)  */
    @include display-flex (flex, column, null, center, center, null);
    padding-bottom: 4rem;

    &__divTitulo{
        width: 100%;
    
        &__h3{
            @include letra-personalizada(left, 1.25rem, $marronBorder, 3px, none , $tipografia-gral, uppercase, 500);
            text-shadow: black, 1px, 1px, 5px;
        }  
    }
    &__span {
        align-self: flex-start;
        width: 100%;
        &__p {
            @include letra-personalizada(left, 1rem, $marronLetter, 0.1rem, none , $tipografia-gral, null, 400);
        }
    }

    &__divCuerpo__iframe {
        width: 600px;
        height: 350px;
    }
}



