@charset "UTF-8";
/*ROBOTO >>> font-family:'Roboto', sans-serif;*/
@import url("https://fonts.googleapis.com/css2? family = Roboto: ital, wght @ 0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1,900 & display = swap");
/*Montserrat >>> font-family: 'Montserrat', sans-serif;*/
@import url("https://fonts.googleapis.com/css2? familia = Montserrat: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1,900 & display = swap");
/*font-family: "Calistoga", arial, sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
/*Reseteo de css*/
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  /* Quitar viñetas de las listas*/
  text-decoration: none;
  /* Quitar subrayado de los enlaces*/
  /* border: none;*/
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*permite incluir el relleno y el borde en el ancho 
                             y alto total de un elemento*/
}

.header, .nav, .main, .section .aside, .footer, .body {
  /* border: 1px solid rgb(150, 150, 150);*/
  background: #ffffff;
}

/*@import "../utilidades/variables"; */
/*colores*/
/*colores*/
body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #27272B;
  text-decoration: none;
}

@-webkit-keyframes colorear {
  /*ANIMACIÓN PARA EL HEADER
    Parámetros de la animación:
    1) animation-name (para usar varias animaciones se deben separar con coma)
    2) animation-duration (duración total de animación en segundos)
    3) animation-timing-function (forma en que se reproduce la animación)
        •	ease-in: comenzará la animación lentamente y finalizará a toda velocidad.
        •	ease-out: iniciará la animación a toda velocidad, luego terminará lentamente.
        •	ease-in-out. comenzará lentamente, será más rápido en el medio de la animación y luego terminará lentamente.
        •	ease: es como easy-in-out, excepto que comienza ligeramente más rápido de lo que termina.
        •	Linear: no usa relajación
    4) animation-delay (tiempo que debe esperar el navegador para iniciar animación)
    5) animation-iteration-count (cantidad de iteraciones. Acepta un número entero o el valor infinite)
    6) animation-direction (dirección de la animación: normal| reverse| alternate| alternate-reverse)
    7) animation-fill-mode (define cómo afecta la animación a los estilos del elemento: none| forward| Backwards| both)
    */
  /*
    0%{background: #feefdd;}
    35%{background: #FAAA8D;}
    70%{background: #50b2c0;}
    100%{background: #FAAA8D;}
    */
  0% {
    background: #E2E1B9;
  }
  25% {
    background: #50b2c0;
  }
  50% {
    background: #FAAA8D;
  }
  75% {
    background: #E49273;
  }
  100% {
    background: #FBF2C0;
  }
}

@keyframes colorear {
  /*ANIMACIÓN PARA EL HEADER
    Parámetros de la animación:
    1) animation-name (para usar varias animaciones se deben separar con coma)
    2) animation-duration (duración total de animación en segundos)
    3) animation-timing-function (forma en que se reproduce la animación)
        •	ease-in: comenzará la animación lentamente y finalizará a toda velocidad.
        •	ease-out: iniciará la animación a toda velocidad, luego terminará lentamente.
        •	ease-in-out. comenzará lentamente, será más rápido en el medio de la animación y luego terminará lentamente.
        •	ease: es como easy-in-out, excepto que comienza ligeramente más rápido de lo que termina.
        •	Linear: no usa relajación
    4) animation-delay (tiempo que debe esperar el navegador para iniciar animación)
    5) animation-iteration-count (cantidad de iteraciones. Acepta un número entero o el valor infinite)
    6) animation-direction (dirección de la animación: normal| reverse| alternate| alternate-reverse)
    7) animation-fill-mode (define cómo afecta la animación a los estilos del elemento: none| forward| Backwards| both)
    */
  /*
    0%{background: #feefdd;}
    35%{background: #FAAA8D;}
    70%{background: #50b2c0;}
    100%{background: #FAAA8D;}
    */
  0% {
    background: #E2E1B9;
  }
  25% {
    background: #50b2c0;
  }
  50% {
    background: #FAAA8D;
  }
  75% {
    background: #E49273;
  }
  100% {
    background: #FBF2C0;
  }
}

.header {
  background-color: #FAAA8D;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 0.5rem #50B2C0 solid;
  border-bottom: 0.5rem #50B2C0 solid;
  /*height: 5.0em; /*(120px aprox)*/
  animation: colorear 6s ease-in-out 0s infinite reverse none;
}

.header__divTitulo__h1 {
  font-size: 2rem;
  letter-spacing: 0.8rem;
  text-shadow: #feefdd 3px 3px 7px;
}

.header__divInteractivo__buscador {
  width: 13rem;
  height: 24px;
  border: 1px solid;
  border-color: #969696;
  -webkit-box-shadow: #feefdd 1px 1px 5px 1px;
          box-shadow: #feefdd 1px 1px 5px 1px;
  border-radius: 5px;
  display: block;
}

.header__divInteractivo__a__img {
  display: block;
}

/*colores*/
/*colores*/
@-webkit-keyframes escalar {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    color: #FEEFDD;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #FEEFDD;
  }
}
@keyframes escalar {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    color: #FEEFDD;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #FEEFDD;
  }
}

.nav {
  background-color: #FEEFDD;
  border-width: 1px;
  border-bottom: 2px solid #50B2C0;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.nav__divBarra__divMenu__ul__li {
  /*menú padre*/
  position: relative;
  /*posición relativa para el menú padre*/
}

.nav__divBarra__divMenu__ul__li__ul {
  /*sub-menú hijo*/
  display: none;
  position: absolute;
  /*posición posición relativa para el submenú hijo*/
  top: 41px;
  left: 0px;
  background-color: #9FC8D9;
  -webkit-box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
          box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
  border-radius: 0px 0px 5px 5px;
  list-style: none;
  z-index: 1000;
}

.nav__divBarra__divMenu__ul__li:hover {
  background: #50B2C0;
  /*#6D5959;*/
}

.nav__divBarra__divMenu__ul__li__ul__li__a:hover {
  border-bottom: 1px solid #969696;
}

.nav .nav__divBarra__divMenu__ul__li:hover .nav__divBarra__divMenu__ul__li__ul {
  display: block;
}

/*los siguientes id se crean para establecer prioridad sobre clases propias de bootstrap, 
  ya que boostrap configuró el componente nav usando clases que no permiten la sobre-escritura de 
  sus propiedades. La sobre-escritura de propiedades solo es posible con id */
#nav__divBarra__divMenu__ul__li__a {
  /*Propiedad afectada + tiempo de desplazamiento + forma de desplazarse +tiempo para iniciar*/
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#nav__divBarra__divMenu__ul__li__a:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  color: #FEEFDD;
}

#nav__divBarra {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.body__carousel-inner {
  height: 580px;
}

.body__carousel-inner__divImagen--img {
  height: 580px;
}

.main {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*colores*/
/*colores*/
.section1__divTitulo__h {
  /* alineación, tamano, color, espacio, decoracion, familia, mayuscula, negrita*/
  /*@include letra-personalizada (center, 1.8rem, $divEncabezado1, 4.09px, none, $tipografia-h, uppercase, 500)*/
  text-align: center;
  color: #457B9D;
  letter-spacing: 4.09px;
  text-decoration: none;
  font-family: "Calistoga", cursive;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8rem;
}

.section1__divContent {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 5rem;
}

/*colores*/
@keyframes escalar {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    color: #FEEFDD;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #FEEFDD;
  }
}

.divCardProductos {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #b4b4b4;
}

.divCardProductos__a__img {
  /*border: 1px solid rgb(200, 200, 200);*/
  width: 100%;
  /*padding-top: 1rem;*/
}

.divCardProductos__a__img:hover {
  -webkit-animation: escalar 1s ease 0.3s 1 normal forwards;
          animation: escalar 1s ease 0.3s 1 normal forwards;
}

.divCardProductos__divDescrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.divCardProductos__divDescrip__h {
  text-align: center;
}

.divCardProductos__divDescrip__p {
  color: red;
}

.divCardProductos__divDescrip__a {
  text-align: center;
}

.aside {
  padding: 2rem 1rem 3rem 0;
}

.aside__h {
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.form__divInput__input {
  /*box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid rgb(200, 200, 200);*/
  width: 18rem;
  height: 1.8em;
  /* for IE */
}

.form__divInput__label {
  width: 18rem;
  height: 1rem;
  /* for IE */
  /*padding: 10px 0 0 0;*/
}

.form__divInput__textarea {
  width: 18rem;
  height: 7rem;
  /* for IE */
}

.form__button {
  width: 8rem;
  height: 2.5em;
  /* for IE */
}

/*formulario en aside de index*/
/*colores*/
/*colores*/
.aside__h {
  text-align: center;
  color: #FB6900;
  letter-spacing: 3.09px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

.aside__divPublicidad {
  width: 100%;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.aside__divPublicidad__divCard {
  max-width: 18rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
}

.aside__divPublicidad__divCard__encabezado {
  width: 100%;
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.aside__divPublicidad__divCard__cuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.aside__divPublicidad__divCard__cuerpo__h {
  color: #FB6900;
}

.aside__divPublicidad__divCard__cuerpo__span {
  width: 80%;
  text-align: left;
}

/*tarjeta de publicidad propia en aside de index*/
/*colores*/
/*colores*/
.footer {
  position: relative;
  background: #27272B;
  /*height: 5.0em; /*(120px aprox)*/
}

.footer__fila1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /*propiedad diferenciadora de  @include flexRowCenter;*/
  gap: 3rem;
  margin: 1rem;
}

.footer__fila1__divMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__fila1__divMenu__ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 3rem;
}

.footer__fila1__divMenu__ul__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__fila1__divMenu__ul__li__a {
  color: #FEEFDD;
  font-size: 1rem;
  letter-spacing: 2px;
  font-size: 500;
  text-align: center;
}

.footer__fila1__divSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.footer__fila1__divSocial__divSiguenos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FB6900;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
}

.footer__fila1__divSocial__divSiguenos__p {
  margin: 0.1rem;
}

.footer__fila1__divSocial__divIconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1.5rem;
  justify-content: center;
}

.footer__fila2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 3rem 1rem 0 1rem;
  /*se omite margin bootom ya que el elemento <p> trae por default 1rem abajo */
}

.footer__fila2__divCopyrigt__p {
  color: #FEEFDD;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
}

/*colores*/
@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    color: #FB6900;
  }
}
@keyframes rotar {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    color: #FB6900;
  }
}

.prod__aside__div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5em;
  margin: 30px 0;
}

.prod__aside__div1__h {
  /* Este es el Título de las categorías, pero es mejor borrarlo (por eso las letras color blanco)*/
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
}

.prod__aside__div1--divMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5em;
}

.prod__aside__div1--divMenu__h {
  text-align: center;
  color: #969696;
  letter-spacing: 3px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
  border-bottom: 1px solid #FB6900;
  padding: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: transparent;
  /*transition: Propiedad afectada + 
            tiempo de desplazamiento + 
            forma de desplazarse +
            tiempo para iniciar*/
  transition: all 0.3s;
  background-color: transparent;
}

.prod__aside__div1--divMenu__h__a {
  display: block;
  text-align: center;
}

.prod__aside__div1--divMenu__h__a:hover {
  /* animation: nombreAnimación duración modoBézier 
                tiempoDEnicio iteraciones direcciónDEmovimiento modoDErelleno; */
  -webkit-animation: rotar 1s ease 0s 1 normal forwards;
          animation: rotar 1s ease 0s 1 normal forwards;
}

/*colores*/
.prod__section1__divTitulo__h {
  text-align: center;
  color: #645986;
  letter-spacing: 4.09px;
  text-decoration: none;
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.8rem;
}

.prod__section1__divContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 3rem;
  padding: 3rem 0;
}

.prod__section2__divPag {
  padding: 3rem;
}

.desp__main {
  background-image: url(https://www.mozart.cl/wp-content/uploads/2020/05/gris.jpg);
  background-position: 50%;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.desp__main__divLayout {
  width: 100%;
}

.desp__main__divLayout__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*colores*/
/*colores*/
.titulo__h-left {
  text-align: left;
  color: #457B9D;
  letter-spacing: 3.09px;
  text-decoration: none;
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.8rem;
}

.desp__section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.desp__section1__divTitulo {
  width: 100%;
}

.desp__section1__divTitulo__h3 {
  text-align: left;
  color: #457B9D;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

.desp__section1__divContent {
  width: 100%;
}

.desp__section1__divContent__span__p {
  color: #666;
}

.serv__main {
  background: radial-gradient(#50B2C0 2px, transparent 3px), radial-gradient(#50B2C0 2px, transparent 3px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #FAAA8D 75px, #FAAA8D 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #FAAA8D 76px, #FAAA8D 77px, transparent 78px, transparent 109px), #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.serv__main__divLayout__row__col {
  width: 100%;
}

/*colores*/
.serv__section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  margin: 2rem 0;
}

.serv__section1__divCard {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  background-image: url(https://www.mozart.cl/wp-content/uploads/2020/05/gris.jpg);
  background-position: 50%;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.serv__section1__divCard__divTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.serv__section1__divCard__divTitulo_h {
  margin: 0;
  color: #ffffff;
  text-align: center;
}

.serv__section1__divCard__divCuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
}

.serv__section1__divCard__divCuerpo__img {
  width: 30%;
}

.serv__section1__divCard__divCuerpo__span {
  width: 65%;
  padding-top: 1rem;
}

.serv__section1__divCard__divCuerpo__span--p1 {
  text-align: left;
}

.serv__section1__divCard__divCuerpo__span--p2__small {
  color: #6c757d;
  font-size: .875em;
  font-weight: 400;
}

.encabezado1 {
  background-color: #6E2594;
}

.encabezado2 {
  background-color: #F35B04;
}

.encabezado3 {
  background-color: #AF3B6E;
}

.encabezado4 {
  background-color: #ED6A5A;
}

.noso__main {
  background-image: url(https://www.mozart.cl/wp-content/uploads/2020/05/gris.jpg);
  background-position: 50%;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.noso__main__divLayout {
  width: 70%;
}

.noso__main__divLayout__row__col {
  width: 100%;
}

/*colores*/
.noso__section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noso__section1__divTitulo {
  width: 100%;
}

.noso__section1__divTitulo__h {
  text-align: left;
  color: #645986;
  letter-spacing: 4.09px;
  text-decoration: none;
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.8rem;
}

.noso__section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4rem;
}

.noso__section2__divTitulo {
  width: 100%;
}

.noso__section2__divTitulo__h3 {
  text-align: left;
  color: #AF3B6E;
  letter-spacing: 3.09px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
}

.noso__section2__span {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

.noso__section2__divCuerpo__iframe {
  width: 600px;
  height: 350px;
}

/*******    (1)  DISPOSITIVO XS - EXTRA SMALL*********/
@media only screen and (min-width: 200px) and (max-width: 575px) {
  body {
    background: blueviolet;
  }
  .header__divTitulo__h1 {
    font-size: 1rem;
  }
  .header__divInteractivo__buscador {
    width: 60%;
  }
  .nav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .nav__divBarra {
    /*deja el menú hambueguesa al extremo izquierdo y a continuación el logo*/
    /*
        Las siguientes 3 líneas se omiten porque ya existen fuera de responsive: 
        display: flex;
        flex-wrap: inherit;
        justify-content: flex-end;
        */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 1rem;
  }
  #nav__divBarra__divMenu__ul__li__a {
    -webkit-transition: none;
    transition: none;
  }
  #nav__divBarra__divMenu__ul__li__a:hover {
    -webkit-transform: none;
            transform: none;
  }
  .body__carousel-inner {
    height: 250px;
  }
  .body__carousel-inner__divImagen--img {
    height: 250px;
  }
  .form__divInput__input,
  .form__divInput__label,
  .form__divInput__textarea {
    width: 14rem;
    padding-left: 2rem;
    padding-right: 0rem;
  }
  .footer__fila1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__fila1__divMenu__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .footer__fila1__divMenu__ul__li__a {
    font-size: 0.9rem;
  }
  .footer__fila1__divSocial__divSiguenos__p {
    font-size: 0.9rem;
  }
  /*productos.html*/
  .prod__aside__div1--divMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .noso__section2__divCuerpo__iframe {
    width: 320px;
    height: 240px;
  }
}

/*******    (2)  DISPOSITIVO SM - SMALL*********/
@media only screen and (min-width: 576px) and (max-width: 767px) {
  body {
    background: tomato;
  }
  .header__divTitulo__h1 {
    font-size: 1.5rem;
  }
  .nav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .nav__divBarra {
    /*deja el menú hambueguesa al extremo izquierdo y a continuación el logo*/
    /*
        Las siguientes 3 líneas se omiten porque ya existen fuera de responsive: 
        display: flex;
        flex-wrap: inherit;
        justify-content: flex-end;
        */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 1rem;
  }
  #nav__divBarra__divMenu__ul__li__a {
    -webkit-transition: none;
    transition: none;
  }
  #nav__divBarra__divMenu__ul__li__a:hover {
    -webkit-transform: none;
            transform: none;
  }
  .body__carousel-inner {
    height: 300px;
  }
  .body__carousel-inner__divImagen--img {
    height: 300px;
  }
  .footer__fila1__divSocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
  }
  .footer__fila1__divMenu__ul {
    padding: 0;
  }
  .footer__fila1__divMenu__ul__li__a {
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: normal;
  }
  .footer__fila2__divCopyrigt__p {
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: normal;
  }
  /*productos.html*/
  .prod__aside__div1--divMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .noso__section2__divCuerpo__iframe {
    width: 480px;
    height: 300px;
  }
}

/********     (3)   DISPOSITIVO MD - MEDIANO      *********/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    background: green;
  }
  .nav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .nav__divBarra {
    /*deja el menú hambueguesa al extremo izquierdo y a continuación el logo*/
    /*
        Las siguientes 3 líneas se omiten porque ya existen fuera de responsive: 
        display: flex;
        flex-wrap: inherit;
        justify-content: flex-end;
        */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 1rem;
  }
  #nav__divBarra__divMenu__ul__li__a {
    -webkit-transition: none;
    transition: none;
  }
  #nav__divBarra__divMenu__ul__li__a:hover {
    -webkit-transform: none;
            transform: none;
  }
  .body__carousel-inner {
    height: 400px;
  }
  .body__carousel-inner__divImagen--img {
    height: 400px;
  }
  .footer__fila1__divMenu__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__fila1__divMenu__ul__li__a {
    font-size: 0.9rem;
  }
  .footer__fila2__divCopyrigt__p {
    font-size: 0.8rem;
  }
  /*productos.html*/
  .prod__aside__div1--divMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

/*******     (4)   DISPOSITIVO LG LARGE      ********/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    background: blue;
  }
  .body__carousel-inner {
    height: 500px;
  }
  .body__carousel-inner__divImagen--img {
    height: 500px;
  }
  .form__divInput__input,
  .form__divInput__label,
  .form__divInput__textarea {
    width: 14rem;
    padding-left: 2rem;
    padding-right: 0rem;
  }
}
/*# sourceMappingURL=main.css.map */