@import "./scss/base/tipografias";
@import "./scss/base/reset";
@import "./scss/componentes/elementos";
@import "./scss/componentes/header";
@import "./scss/componentes/nav";
@import "./scss/proveedores/bootstrap/carrusel";
@import "./scss/componentes/main";
@import "./scss/vistas/index/index-section1";
@import "./scss/proveedores/bootstrap/card-productos";
@import "./scss/componentes/aside";
@import "./scss/proveedores/bootstrap/form"; /*formulario en aside de index*/
@import "./scss/proveedores/bootstrap/card-text-white"; /*tarjeta de publicidad en aside de index*/
@import "./scss/componentes/footer";
@import "./scss/vistas/productos/productos-aside";
@import "./scss/vistas/productos/productos-section1";
@import "./scss/vistas/productos/productos-section2";
@import "./scss/responsive/1.xs";
@import "./scss/responsive/2.sm";
@import "./scss/responsive/3.md";
@import "./scss/responsive/4.lg";



