@import "../../variables";

@mixin font-h {
    color: $marronFooter;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 500;
    text-decoration: none;
}
