@import "../../utilidades/mixins/flexColumn";
@import "../../utilidades/mixins/flexRow";
@import "../../utilidades/mixins/background/backgroung-gris";
@import "../../utilidades/mixins/card-encabezado";
@import "../../utilidades/variables";


.serv__section1{
    @include flexColumnCenter;
    gap: 5rem;
    margin: 2rem 0;


    &__divCard {
        max-width: 700px;
        @include flexColumnCenter;
        border-radius: 5px;
        border: 1px solid rgb(180, 180, 180);
        @include fondo-plomo;

        &__divTitulo{
            @include flexColumnCenter;
            @include encabezado-tarjeta;

            &_h{
                margin: 0;
                color: #ffffff;
                text-align: center;
            }
        }

        &__divCuerpo{
            @include flexRowCenter;
            gap: .1rem;
       

            &__img{
                width: 34%;
            }

            &__span{
                width: 65%;
                padding: 1rem;

                &--p1{
                    text-align: left;
                }

                &--p2__small {
                    color: #6c757d;
                    font-size: .875em;
                    font-weight: 400;
                }
            }
        }
    }
}

.encabezado1{
    background-color:$marronFooter;
}
.encabezado2{
    background-color: $marronFooter;
}
.encabezado3{
    background-color: $marronFooter;
}
.encabezado4{
    background-color: $marronFooter;
}


