@keyframes colorear {
    /*ANIMACIÓN PARA EL HEADER
    Parámetros de la animación:
    1) animation-name (para usar varias animaciones se deben separar con coma)
    2) animation-duration (duración total de animación en segundos)
    3) animation-timing-function (forma en que se reproduce la animación)
        •	ease-in: comenzará la animación lentamente y finalizará a toda velocidad.
        •	ease-out: iniciará la animación a toda velocidad, luego terminará lentamente.
        •	ease-in-out. comenzará lentamente, será más rápido en el medio de la animación y luego terminará lentamente.
        •	ease: es como easy-in-out, excepto que comienza ligeramente más rápido de lo que termina.
        •	Linear: no usa relajación
    4) animation-delay (tiempo que debe esperar el navegador para iniciar animación)
    5) animation-iteration-count (cantidad de iteraciones. Acepta un número entero o el valor infinite)
    6) animation-direction (dirección de la animación: normal| reverse| alternate| alternate-reverse)
    7) animation-fill-mode (define cómo afecta la animación a los estilos del elemento: none| forward| Backwards| both)
    */

    /*Así se se realiza el llamado a este @keyframe: 
    .contenedor {animation: colorear 6s ease-in-out 0s infinite reverse none; }*/
    0%{background: #E2E1B9;}
    25%{background: #50b2c0;}
    50%{background: #FAAA8D;}
    75%{background: #E49273;}
    100%{background: #FBF2C0}
}