@import "../../variables";

@keyframes escalar{
  /*Así se llama a esta @keyframe:
   img:hover { animation: escalar 1s ease 0.3s 1 normal forwards; } */
  0% {
    transform: scale(0.5);
    color: $blancoRosa;
  }
  
  100% {
    transform: scale(1);
    color: $blancoRosa;
  }
}