/*******    (1)  DISPOSITIVO XS - EXTRA SMALL*********/
@import "../utilidades/mixins/flexColumn";
@import "../utilidades/mixins/flexRow";

@media only screen and (min-width: 200px) and (max-width: 575px){
    body{background: blueviolet;}
    .header__divTitulo__h1{
        font-size: 1rem;
    }
    .header__divInteractivo__buscador {
        width: 60%;
    }

    .nav{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        &__divBarra{ /*deja el menú hambueguesa al extremo izquierdo y a continuación el logo*/
        /*
        Las siguientes 3 líneas se omiten porque ya existen fuera de responsive: 
        display: flex;
        flex-wrap: inherit;
        justify-content: flex-end;
        */
        flex-direction: row-reverse;
        gap: 1rem;
        }
    }

    #nav__divBarra__divMenu__ul__li__a {
        transition: none;
    }
    #nav__divBarra__divMenu__ul__li__a:hover {
        transform: none;   
     }
    
    .body__carousel-inner{
        height: 250px;
    
        &__divImagen--img{
            height: 250px;
        }
    }

    .form__divInput__input,
    .form__divInput__label,
    .form__divInput__textarea{
        width : 14rem;
        padding-left: 2rem;
        padding-right: 0rem;
    }
    .footer__fila1{
       @include flexColumnCenter;
    
        &__divMenu__ul{
            @include flexColumnCenter;
            padding: 0;

            &__li__a{
                font-size: 0.9rem;
            }
        }
        &__divSocial__divSiguenos__p{
            font-size: 0.9rem;
        }
    }
    
    /*productos.html*/
    .prod__aside__div1--divMenu{
        @include flexRowCenter;
    }

    .noso__section2__divCuerpo__iframe {
        width: 320px;
        height: 240px;
    }
}