/*******    (1)  DISPOSITIVO XS - EXTRA SMALL*********/
@import "../utilidades/mixins/flexColumn";
@import "../utilidades/mixins/flexRow";

@media only screen and (min-width: 200px) and (max-width: 575px){
    body{background: blueviolet;}
    .header__divTitulo__h1{
        font-size: 1rem;
    }
    .header__divInteractivo__buscador {
        width: 60%;
    }
    .body--carousel-inner{
        height: 150px;
    }
    .form__divInput__input,
    .form__divInput__label,
    .form__divInput__textarea{
        width : 14rem;
        padding-left: 2rem;
        padding-right: 0rem;
    }
    .footer__fila1{
       @include flexColumnCenter;
    
        &__divMenu__ul{
            @include flexColumnCenter;
            padding: 0;

            &__li__a{
                font-size: 0.9rem;
            }
        }
        &__divSocial__divSiguenos__p{
            font-size: 0.9rem;
        }
    }
    
    /*productos.html*/
    .prod__aside__div1--divMenu{
        @include flexRowCenter;
    }
}