@import "../../utilidades/mixins/flexColumn";
@import "../../utilidades/variables";
@import "../../utilidades/mixins/font/personalized-font";

.titulo__h-left{
    @include letra-personalizada(left, 1.8rem, $divEncabezado1, 3.09px, none, $tipografia-h, capitalize, 500);
}

.desp__section1{
    @include flexColumnCenter;
    gap: 1rem;
    margin: 2rem 0;

    &__divTitulo{
        width: 100%;

        &__h3{
            @include letra-personalizada(left, 1.2rem, $divEncabezado1, 2px, none , $tipografia-roboto, uppercase, 600);
        }
    }
    &__divContent{
        width: 100%;

        &__span__p{
            color: #666;
        }
    }
}