@mixin fondo-plomo {
    background-image: url(https://www.mozart.cl/wp-content/uploads/2020/05/gris.jpg);
    background-position: 50%;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}