@import "../../utilidades/mixins/flexColumn";
@import "../../utilidades/mixins/font/personalized-font";
@import "../../utilidades/functions/animaciones/animation-rotate";

.prod__aside__div1 {
    @include flexColumnCenter;
    gap: 1.5em;
    margin: 30px 0;

    &__h{ /* Este es el Título de las categorías, pero es mejor borrarlo (por eso las letras color blanco)*/
        font-size: 14px;
        font-weight: normal;
        color: #ffffff;
    }
    &--divMenu{
        @include flexColumnCenter;
        gap: 1.5em;

        &__h{  
            @include letra-personalizada(center, 1rem, rgb(150, 150, 150), 3px, none , $tipografia-roboto, uppercase, normal);
            border-bottom: 1px solid #FB6900 ;
            padding: 10px;
            transition: all 0.3s;
            background-color: transparent;

            /*transition: Propiedad afectada + 
            tiempo de desplazamiento + 
            forma de desplazarse +
            tiempo para iniciar*/

            transition: all 0.3s;
            background-color: transparent;
        
            &__a{
                display: block;
                text-align: center;
            }
            &__a:hover {
                /* animation: nombreAnimación duración modoBézier 
                tiempoDEnicio iteraciones direcciónDEmovimiento modoDErelleno; */
                animation: rotar 1s ease 0s 1 normal forwards;
            }
        }
    }
}