@import "../../utilidades/mixins/flexColumn";
@import "../../utilidades/mixins/font/personalized-font";
@import "../../utilidades/functions/animaciones/animation-rotate";
@import "../../utilidades/variables";

.prod__aside__div1 {
    @include flexColumnCenter;
    gap: 1.5em;
    margin: 30px 0;

    &__divTitulo__h{ 
        @include letra-personalizada(center, 1rem, rgb(150, 150, 150), 3px, none , $tipografia-h, uppercase, normal);
    }

    &__divMenu{
        @include flexColumnCenter;
        gap: 1rem;
        
        &__ul{
            @include flexColumnCenter;
            gap: 1.5em;  
            padding-left: 0; /*reseteo*/
        
            &__li {
                width: 100%;
                border-bottom: solid .1rem $limon;
            
                &__a{  
                    @include letra-personalizada(center, 1rem, $marronFooter, 3px, none , $tipografia-roboto, capitalize, normal);
                    padding: 10px;
                    display: block;
                    text-align: center;
                    transition: all 0.3s;
                    background-color: transparent;

                    /*transition: Propiedad afectada + 
                    tiempo de desplazamiento + 
                    forma de desplazarse +
                    tiempo para iniciar*/

                    transition: all 0.3s;
                    background-color: transparent;
                }
            }

            &__li__a:hover {
                /* animation: nombreAnimación duración modoBézier 
                tiempoDEnicio iteraciones direcciónDEmovimiento modoDErelleno; */
                animation: rotar 1s ease 0s 1 normal forwards;
            }
        }
    }
}