/*Reseteo de css*/
* {
    margin: 0px;
    padding: 0px;  
    list-style: none; /* Quitar viñetas de las listas*/
    text-decoration: none; /* Quitar subrayado de los enlaces*/
   /* border: none;*/
    outline: none;
    box-sizing: border-box; /*permite incluir el relleno y el borde en el ancho 
                             y alto total de un elemento*/
  }
  .header, .nav, .main, .section .aside, .footer, .body{
    /* border: 1px solid rgb(150, 150, 150);*/
     background: #ffffff;
 }