@import "../../6.UTILIDADES/mixins/param.display-flex";
@import "../../6.UTILIDADES/variables";
@import "../../6.UTILIDADES/mixins/font/param.personalized-font";


.desp__section1{
    /* @include display-flex ($desplegar, $flexDireccion, $wrap, $justifyContent, $alignItem, $gap*/
    @include display-flex (flex, column, null, center, center, 1rem);
    margin: 2rem 0;
    padding: 2rem;
    width: 60%;
    border: solid 2px $marronBorder;
    border-radius: 30px;
    box-shadow: rgb(150, 150, 150) 10px 10px 20px 10px;

    &__divIsla{ width: 80%;
        &__divTitulo{ width: 100%;
            &__h2{
                @include letra-personalizada(left, 1.8rem, $divEncabezado1, 3.09px, none, $tipografia-h, capitalize, 500);
            }
            &__h3{
                @include letra-personalizada(left, 1.2rem, $divEncabezado1, 2px, none , $tipografia-roboto, uppercase, 600);
            }
        }
    
        &__divContent{ width: 100%; margin-top: 1rem;
            &__span{
                &__p{ color: $grisLetter; text-align: justify;}
            }
        }
    } 
}
