@import "../../utilidades/variables";
@import "../../utilidades/mixins/flexRow";
@import "../../utilidades/mixins/flexColumn";
@import "../../utilidades/mixins/card-encabezado";
@import "../../utilidades/mixins/font/personalized-font";

.aside__h{
    @include letra-personalizada(center, 1.2rem, $naranjoLetter, 3.09px, none , $tipografia-gral, uppercase, 600);
}
.aside__divPublicidad{
    width: 100%;
    margin-bottom: 2rem;
    @include flexColumnCenter;
    gap: 3rem;


    &__divCard{
        max-width: 18rem;
        text-align: center;
        background-color: rgba(0,0,0,.03);
        @include flexColumnCenter;
        gap: 1rem;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 4px;
       

        &__encabezado {
            @include encabezado-tarjeta;
        }

        &__cuerpo {
            @include flexColumnCenter;
            gap: 1rem;

            &__h{
            color: $naranjoLetter;
            }

            &__span{
                width: 80%;
                text-align:left;
            }
        }
    }
}