@import "../../6.UTILIDADES/mixins/param.display-flex";
@import "../../6.UTILIDADES/mixins/background/backgroung-gris";
@import "../../6.UTILIDADES/mixins/param.div-encabezado";
@import "../../6.UTILIDADES/variables";
@import "../../6.UTILIDADES/mixins/font/param.personalized-font";


.divCardPostal {
    max-width: 50rem;
    /* @include display-flex ($desplegar, $flexDireccion, $wrap, $justifyContent, $alignItem, $gap)  */
    @include display-flex (flex, column, null, center, center, null);

    border-radius: 5px;
    border: 1px solid rgb(180, 180, 180);
    box-shadow: rgb(150, 150, 150) 5px 5px 10px;

    &__divTitulo{

        /* @include (text-align, width, height, padding, margin, background, border); */
        @include divEncabezado(center, 100%, null, .5rem 1rem, 0, #27272B,  1px solid rgba(0,0,0,.125) );

        &__h{
            margin: 0;
            @include letra-personalizada(null, 1rem, #ffffff, 1px, none, $tipografia-gral, uppercase, 400);
        }
    } 
   
    
    &__divCuerpo{
        @include display-flex (flex, row, wrap, center, null, null);
        background: #ffffff;

        &__divImg{
            &__img{
                max-width: 100%; /* el 100% del max-width es en relación a su contenedor padre */
                max-height: 18.75rem;
            }
        }

        &__divP{
            flex-grow: 2;
            width: 65%;
            padding: 2rem;
            /* @include display-flex ($desplegar, $flexDireccion, $wrap, $justifyContent, $alignItem, $gap)  */
            @include display-flex (flex, column, null, center, center, 1rem);

            &--p{
                @include letra-personalizada(justify, 1rem, rgb(102, 102, 102), 1px, none, $tipografia-gral, null, 400);
            }

            &--p2{
                @include letra-personalizada(center, null, #6c757d , 1px, none, $tipografia-gral, lowercase, 400);
            }
        }
    }

    &__divTitulo--par{
        background: $marronBorder;
    }
    

    &__divCuerpo--par{
        @extend .divCardPostal__divCuerpo;
        flex-direction: row-reverse;
    }
}

        

