/*@import "../utilidades/variables"; */
@import "../utilidades/mixins/font/font-h";
@import "../utilidades/maps/fontNormal";


body{
    font-family: map-get($fontNormal, tipografia);

}
a{
    color: map-get($fontNormal, color);
    text-decoration: map-get($fontNormal, subrayado);
}
