/*@import "../utilidades/variables"; */
@import "../utilidades/mixins/font-h";
@import "../utilidades/maps/fontNormal";


body{
    font-family: map-get($fontNormal, tipografia);

}
a{
    color: map-get($fontNormal, color);
    text-decoration: map-get($fontNormal, subrayado);
}
h1, h2, h3, h4, h5, h6{
    @include font-h;
}