/*Estilización de Formulario*/

form {
 /* background: url(/multimedia/imagen4.png);*/
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}
  legend {
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  label { 
    /*fuente correcta para los label*/
    font : .8em "typewriter", sans-serif;
  }

  input {
    /*mantener la coherencia de los formularios con el resto de elementos*/
    font-family : inherit;
    font-size   : 100%;
    
    font : .8em "typewriter", sans-serif;
    height: 1.8em;
    width : 12rem;
    margin-bottom: .5rem;
    box-sizing: border-box;
    border-radius: 5px;

  }
  input:focus {/*color resaltado al recibir foco*/
    background:#FEEFDD;
  }
  select{
     /*mantener la coherencia de los formularios con el resto de elementos*/
     font-family : inherit;
     font-size   : 100%;
     
     font : .8em "typewriter", sans-serif;
     height: 1.8em;
     width : 12rem;
     margin-bottom: .5rem;
     box-sizing: border-box;
     border-radius: 5px;
  }
  textarea {
    /*mantener la coherencia de los formularios con el resto de elementos*/
    font-family : inherit;
    font-size   : 100%;
   
    width : 12rem;
    margin-bottom: .5rem;
    box-sizing: border-box;
    border-radius: 5px;
    display : block;
    resize  : none;
    overflow: auto;
  }
  textarea:focus {/*color resaltado al recibir foco*/
    background:#FEEFDD;
  }
  button {
    /*mantener la coherencia de los formularios con el resto de elementos*/
    font-family : inherit;
    font-size   : 100%;

    font: bold 0.8em sans-serif;
    background: #201E1F;
    color: #FFF;
    cursor: pointer;
    width : 12rem;
    padding: 0.4rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border-radius: 5px;
  }
  button:after {
    content: " >>>";
  }
  button:hover, button:focus {
    background:  #FF4000;;
  }