@import "../utilidades/variables";
@import "../utilidades/mixins/flexRow";
@import "../utilidades/mixins/flexColumn";
@import "../utilidades/maps/fontNormal";

.footer{
    position: relative;
    background: $marronFooter;
    /*height: 5.0em; /*(120px aprox)*/

    &__fila1{
        @include flexRowCenter;
        align-items: flex-start; /*propiedad diferenciadora de  @include flexRowCenter;*/
        gap: 3rem;
        margin: 1rem;

        &__divMenu{
            @include flexRowCenter;
        
            &__ul{
                list-style: none;
                @include flexRowCenter;
                gap: 3rem;
            
                &__li{
                    @include flexRowCenter;
        
                    &__a {
                    color: $blancoRosa;
                    font-size: map-get($fontNormal, tamano);
                    letter-spacing: 2px;
                    font-size: map-get($fontNormal, negrita);
                    text-align: center;
                    }
                }
            }
        }

        &__divSocial{
            @include flexColumnCenter;
            gap: 1rem;
        
            &__divSiguenos{
                @include flexRowCenter;
                color:  $naranjoLetter;
                font-family: 'Roboto', Arial, Helvetica, sans-serif;
                text-transform: uppercase;
                font-size: map-get($fontNormal, tamano);
                letter-spacing: 2px;
                font-weight: 600;
            
                &__p{
                    margin: 0.1rem;
                }
            }
            &__divIconos{
                @include flexRowCenter;
                gap: 1.5rem;
                justify-content: center;
            }
        }
    }

    &__fila2{
        @include flexRowCenter;
        margin: 3rem 1rem 0 1rem; /*se omite margin bootom ya que el elemento <p> trae por default 1rem abajo */
    
        &__divCopyrigt__p {
            color: $blancoRosa;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: map-get($fontNormal, espaciado);
            font-weight: map-get($fontNormal, negrita);
            text-align: center;
        }

    }
}