.nav{
    background-color: #FEEFDD;

    &__divBarra__divMenu__ul__li:hover {
        background:  #50B2C0; 
    }
    &__divBarra__divMenu__ul__li__a:hover {
        animation: navMenu 1s ease 0s 1 normal forwards;
    }
    
}
@keyframes navMenu{
    0% {
      transform: scale(0.5);
    }  
    100% {
      transform: scale(1);
      color: #ffffff;
    }
}
