@import "../utilidades/mixins/animation-scale";

.nav{
    background-color: #FEEFDD;

    &__divBarra__divMenu__ul__li:hover {
        background:  #50B2C0; 
    }
    &__divBarra__divMenu__ul__li__a:hover {
        animation: escalar 1s ease 0s 1 normal forwards;
    } 
}
@include animation-scale;
