@import "../6.UTILIDADES/variables";
@import "../6.UTILIDADES/functions/animaciones/animation-scale";
@import "../6.UTILIDADES/mixins/font/param.personalized-font";

.nav{
    background-color: $rosaNav;
    border-width: 1px;
    border-bottom: 2px solid $turqueza;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    &__divBarra__divMenu__ul{ /*padre (menú)*/
        gap: 0.1rem;
        /* lex-start alinea los box (cajas) hacia la izquierda, 
        mientras que text-alingn:left alinea el texto dentro del box hacia la izquierda */
        align-items: flex-start;

        
        &__li{ /*padre (hijo (item de menú)*/
            position: relative; /*posición relativa para el menú padre*/
            padding: 0.1rem;
            

            &__ul{ /* nieto (submenú, hijo del item y nieto del menú) */
                display: none;
                position: absolute; /*posición posición relativa para el submenú hijo*/
                top: 41px;
                left: 0px;
                background-color: #9FC8D9;
                box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
                border-radius: 0px 0px 5px 5px;
                list-style: none;
                z-index: 1000;
            }
        } 
    }   

    &__divBarra__divMenu__ul__li:hover {
        background: $turqueza;
        box-shadow: rgba(0, 0, 0, 0.500) 3px 3px 5px;
        border-radius: 2px;
            /*#6D5959;*/
    }
    

    &__divBarra__divMenu__ul__li__ul__li__a:hover {
        border-bottom: 1px solid rgb(150,150,150);
    }

}
    .nav__divBarra__divMenu__ul__li:hover .nav__divBarra__divMenu__ul__li__ul {
        display: block;
    }

/*los siguientes id se crean para establecer prioridad sobre clases propias de bootstrap, 
  ya que boostrap configuró el componente nav usando clases que no permiten la sobre-escritura de 
  sus propiedades. La sobre-escritura de propiedades solo es posible con id */

#nav__divBarra__divMenu__ul__li__a {
    /* @include letra-personalizada (text-align, font-size, color, letter-spacing,  text-decoration, font-family, text-transform, font-weight) */
    @include letra-personalizada(left, 1rem, null, 1px, null, $tipografia-gral, null, null);

    /*Propiedad afectada + tiempo de desplazamiento + forma de desplazarse +tiempo para iniciar; */
    transition: all 0.5s linear;
}

#nav__divBarra__divMenu__ul__li__a:hover {
    color: #FEEFDD;
    transform: scale(1.1); 
 } 
 
#nav__divBarra {
    justify-content: flex-end;
}