/*colores*/
$naranjoLetter: #FB6900;
$marronFooter: #27272B;
$salmon: #FAAA8D;
$blancoRosa: #FEEFDD;
$turqueza: #50B2C0;
$limon: #BBBB0C;
$divEncabezado1: #457B9D;
$divEncabezado2: #F35B04;
$divEncabezado3: #645986;
$divEncabezado4: #ED6A5A;
$divEncabezado5: #6E2594;
$divEncabezado6: #AF3B6E;
$tipografia-gral: 'Montserrat', sans-serif;
$tipografia-h: 'Calistoga', cursive;
$tipografia-roboto: 'Roboto', sans-serif;
